.wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #EEE;
  border-radius: 6px;
}

.wrapper label {
  font-weight: 600;
  padding: 6px 10px;
  border-right: 1px solid #EEE;
}

.wrapper input {
  border: none;
}