.fontA {
  color: #00B7FF;
}

.fontB {
  color: #C75646;
}

.content {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.content a {
  color: #00B7FF;
}

.ribbon {
  color: #EEE;
  padding: 50px 0;
  background-image: url('../../public/random_grey_variations.png');
}

.ribbon .content section {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.ribbon h1 {
  font-family: 'Georgia', serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  width: 50%;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 1.5em;
}

.disclaimer {
  width: 50%;
  color: #BBB;
  font-size: 14px;
}

.primary {
  padding: 50px 0;
}

.fontSelect {
  display: flex;
  justify-content: space-around;
}

.fontDisplay {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  gap: 4px;
}

.displayMode {
  margin: 50px auto;
  text-align: center;
}

.displayControl {
  text-align: center;
}

.testLetters {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 1rem;
}

.testLetter {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  font-size: 32px;
  text-align: center;
  border: 1px solid #EEE;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 2px 0 inset;
}

.reset {
  composes: fontA;
}

.reset:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}